<? Php

include ("config.php");

$ Usuario = $ _POST ['usuario'];
$ Senha = $ _POST ['Senha'];

if (isset ($ _POST ['acao']) && $ _POST ['acao']) == 'fazer_login') {

	if ($ usuario == "" && $ Senha == "") {
		echo "alerta <script> ('Campos vazios'); location.href = 'login.php' </ script>";
	} Else {
		$ SelectLogin = mysql_query ("SELECT * FROM usuarios ONDE usuario = '$ usuario' AND Senha = '$ Senha'")
	
		if (mysql_num_rows ($ selectLogin)> 0) {
			echo "<script> location.href = 'painel.php' </ script>";
		} Else {
			echo "alerta <script> ('Senha incorreta!); location.href =' login.php '</ script">
		}
	}
}
